<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joshcarroll.projects.android.taskpal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/todo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--android:value="@string/google_places_api_key"-->

        <service android:name=".service.LocationService" android:enabled="true">
            <intent-filter>
                <action android:name=".LocationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data android:name="com.google.android.geo.API_KEY"

            android:value= "AIzaSyDGD9tivCeeBRU2rlIEmv_2bH2I5EIMT0c">
        </meta-data>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>